<h1>Clients</h1>
<p class="error-message"><%= errorMessage %></p>
<form id="index-filter-form" action="/clients" method="GET">
  <label for="filterText">Filter Text:</label>
  <input
    id="filter-text"
    name="filterText"
    type="text"
    value="<%=filterText?? '' %>"
  />
  <button class="btn btn-success" type="submit" value="Submit">Filter</button>
</form>
<button class="btn btn-primary" onClick="window.location.href='/clients/edit'">
  Create Clients
</button>
<ul id="client-list">
  <% for (let i=0; i < clients.length; i++) { %>
  <li>
    <a href="/clients/<%= clients[i]._id%>"> <%=clients[i].name%>%> </a>
    <span></span>
    <div>
      <button
        class="btn btn-success"
        onClick="window.location.href='/clients/edit/<%= clients[i]._id%>'"
      >
        edit
      </button>
      <button
        class="btn btn-danger"
        onClick="window.location.href='/clients/<%= clients[i]._id%>/delete'"
      >
        delete
      </button>
    </div>
  </li>
  <% } %>
</ul>
