<a href="/invoices">Return to Invoices</a>
<h3><%= invoice_id ? "Edit" : "New" %> Invoice</h3>

<form action="/invoices/edit/<%=invoice_id?invoice_id:''%>" method="POST">
  <input
    type="hidden"
    id="invoice_id"
    name="invoice_id"
    value="<%= invoice_id%>"
  />
  <div>
    <label for="name">Name:</label>
    <div>
      <input id="name" name="name" type="text"
      value="<%=invoice.name?invoice.name:''%>"
    </div>
  </div>

  <div>
    <label for="code">Code: </label>
    <div>
      <input id="code" name="code" type="text"
      value="<%=invoice.code?invoice.code:''%>"
    </div>
  </div>
  <div>
    <label for="company">Company: </label>
    <div>
      <input id="company" name="company" type="text"
      value="<%=invoice.company?invoice.company:''%>"
    </div>
  </div>

  <div>
    <label id="email" for="email">Email:</label>
    <div>
      <input id="email" name="email" type="text"
      value="<%=invoice.email?invoice.email:''%>"
    </div>
  </div>

  <div>
    <button
      id="submitButton"
      class="btn btn btn-primary"
      type="submit"
      value="Submit"
    >
      Submit
    </button>
  </div>
</form>
<p class="error-message"><%= errorMessage %></p>
