<a id ="returnToInvoice" href="/invoices">Return to Invoices</a>
<div id = "wrapper">
    <header>
        <div id = "logo-img"><img src="/images/logo.jpg" alt="Logo" width="100" height="100"></div>
        <div id = "company-info">
            SamAyesh Co<br>
            123 test street <br>
            Vancouver, BC <br>
            A1A 2B2 <br>
            test@gmail.com <br>
        </div>
        <div id = "invoice-number">Invoice # <%=invoice.invoiceNumber %></div>
    </header>
    <main id = "main-wrapper">
        <section id = "summary-section">
            <div id ="client-contact">
                <b>BILL TO:</b><br>
                <%= clientA.name%><br>
                <%= clientA.company%> <br>
                <%= clientA.email%> <br>
            </div>
            <div id = "bill-detail">
                <div id = "issue-date"><b>Date</b> <br><%=formatDate(invoice.issueDate) %></div>
                <div id = "payable"><b>Please Pay</b> <br>$ <%= total%></div>
                <div id = "due-date"><b>Due Date</b> <br><%=formatDate(invoice.dueDate) %></div>
            </div>
        </section>

        <section id = "billable-details-section">
           
            <section id = "details-name">
                <div><b>Products</b></div>
                <div><b>QTY</b></div>
                <div><b>RATE</b></div>
                <div><b>AMOUNT</b></div>
            </section>
            
            <% for(let i =0; i < productArray.length; i++) { %>
            <section class = "details">
                <div><%=productArray[i].name%></div>
                <div><%=qtyArray[i]%></div>
                <div>$ <%=productArray[i].unit_cost%></div>
                <div>$ <%=productArray[i].unit_cost*qtyArray[i]%></div>
            </section>
            <%}%>



        </section>

        <section id = "payment-summary-section">
            <div id = "payment-instruction">Please remit payment via Interac E-Transfer to <br>test@gmail.com</div>
            <div id = "total-due"><b>Total Due</b> <br>$ <%= total%></div>
        </section>


    </main>
</div>


<%
  function formatDate(date) {
    if (!date) return ''; // Handle cases where date is not provided

    const options = { year: 'numeric', month: 'short', day: 'numeric' };
    const formattedDate = new Date(date).toLocaleDateString('en-US', options);

    return formattedDate;
  }
%>